<div class="row">
  <div class="col">
    <div id="player"></div>
    <!-- control component -->
    <app-controls [selectedItem]="selectedVideo" (cntPlay)="onPlay()" 
                (cntPause)="onPause()" 
                (cntVolumePlus)="onVolumePlus()" 
                (cntVolumeMinus)="onVolumeMinus()"
                (cntOnMute)="onMuteUnMute()"
                (cntReload)="onReload()"></app-controls>
    <br /><br />
    <progress id="progress-bar" [value]="progressbar" max="100" style="width:100%; background-color:black;"></progress>
  </div>
  <div class="col">
    <!-- playlist component -->
    <app-playlist (slctVideo)="selVideo($event)"></app-playlist>
  </div>
</div>
